@use "../../styles/Variable.scss" as *;

.header {
  padding-top: 43px;
  position: relative;
}

.nav {
  display: flex;
  align-items: center;
  gap: 36px;
  transition: all ease-in-out 0.3s;

  @media ($tablet_max) {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: $black;
    width: 100%;
    height: 100%;
    z-index: 1111;
    flex-direction: column;
    gap: 20px;
    padding-top: 70px;
  }
  &__close__icon {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $secondary;
    transition: all ease-in-out 0.3s;

    @media ($tablet) {
      display: none;
    }

    &:hover {
      color: $primary;
      background-color: $bg;
    }
  }
  &__item {
    &__link {
      position: relative;
      font-family: $sora;
      font-style: normal;
      font-weight: $weight-normal;
      font-size: 16px;
      line-height: 24px;
      color: $secondary;
      transition: all ease-in-out 0.3s;

      &::before {
        position: absolute;
        content: "";
        left: 0;
        bottom: -3px;
        width: 0;
        height: 2px;
        background-color: $navLinkBar;
      }
      &:hover::before {
        width: 50%;
      }
      &:hover {
        color: $primary;
      }
    }
  }
}

.nav__open {
  left: 0;
}

.nav__active {
  color: $primary;

  &::before {
    width: 50%;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 44px;

  &__mobile {
    display: block;
    @media ($tablet) {
      display: none;
    }
  }
}
